@import "tailwindcss";

@theme static {
  --color-dorado-primario: #ca9a2b;
  --color-naranja-terciario: #fdedd4;
  --color-negro-secundario: #303030;
  --color-negro-primario: #000000;
  --color-dorado-terciario: #fcb819;
  --color-blanco-primario: #FFFFFF; 
  --color-gris-secundario: #D9D9D9;
}
